[submodule "das-cli/tests/integration/libs/bats-assert"]
	path = das-cli/tests/integration/libs/bats-assert
	url = https://github.com/bats-core/bats-assert
[submodule "das-cli/tests/integration/libs/bats-support"]
	path = das-cli/tests/integration/libs/bats-support
	url = https://github.com/bats-core/bats-support
