Source: das-toolbox
Section: utils
Priority: standard
Maintainer: rafael.levi@singularitynet.io
Build-Depends: build-essential, zlib1g-dev, python3-pip, python3 (>=3.8.0), debhelper (>=12.10ubuntu1), gzip, libssl-dev (>= 3.0.2-0ubuntu1.19), libevent-dev, libevent-dev
Standards-Version: 4.5.0

Package: das-toolbox
Architecture: any
Depends: libhiredis0.14 (>= 0.14.0), libmongocxx1 (>= 3.6.0), libbsoncxx1 (>= 3.6.0), libhiredis-cluster0.12, docker.io | docker-ce, bash-completion, ${misc:Depends}, ${shlibs:Depends}
Description: |
 This CLI provides a unified set of tools to manage the DAS ecosystem.
 This package bundles the das-cli, gatekeeper tools and the dynamic library das.os.
