Source: das-toolbox
Section: utils
Priority: standard
Maintainer: rafael.levi@singularitynet.io
Build-Depends: build-essential, zlib1g-dev, python3-pip, python3 (>=3.8.0), debhelper (>=12.10ubuntu1), gzip
Standards-Version: 4.5.0

Package: das-toolbox
Architecture: any
Depends: docker.io | docker-ce, bash-completion, ${misc:Depends}, ${shlibs:Depends}
Description: |
 This CLI provides a unified set of tools to manage the DAS ecosystem.
 This package bundles the das-cli, gatekeeper tools and the dynamic library das.os.
