[Unit]
Description=Gatekeeper Server
After=network.target

[Service]
ExecStart=/usr/bin/gk-server
Restart=always
User=root

[Install]
WantedBy=multi-user.target
