# Runtime dependencies for das-cli
# For development dependencies, see requirements-dev.txt
Click==8.1.6
docker==7.1.0
distro==1.9.0
click-man==0.4.1
fabric==3.2.2
cryptography==36.0.2
paramiko==3.4.0
pyyaml==6.0.1
injector==0.21.0
