Click==8.1.6
docker==7.1.0
distro==1.9.0
click-man==0.4.1
fabric==3.2.2
cryptography==36.0.2
paramiko==3.4.0
injector==0.21.0
rich==14.2.0
PyYAML==6.0.3

# Dev dependencies
flake8==6.1.0
pylint==3.2.6
mypy==1.10.1
isort==5.12.0
black==23.7.0
pre-commit==3.5.0

# types
types-paramiko==2.12.0.1
types-requests==2.32.0.20241016
types-PyYAML==6.0.12

# agent integration tests
pytest==9.2.0
hyperon==0.2.9